<h2>Search: <%= params["q"] %></h2>

<ul class="list-unstyled list-shards">
  <% shards.each do |shard| %>
    <li>
      <span class="lead">
        <%= link_to shard.name, shard_path(shard) %>
        <small class="text-muted"><%= shard.latest_version.try(&.number) %></small>
      </span>
      <% if description = shard.latest_version.try(&.description) %>
        <span class="list-shards-description"><%= description %></span>
      <% end %>
    </li>
  <% end %>
</ul>
