//$brand-primary: #866ba6 !default;

$headings-font-weight: bold;
$font-family-monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;

$cursor-disabled: default;

$pre-bg: #f8f8f8;
$code-color: #a71d5d;

$navbar-color: #624288;

$list-group-border-width: 0;
$list-group-border-radius: 0;
$list-group-active-bg: $navbar-color;
