<div class="row">
  <div class="col-md-12">
    <h1>
      <%= link_to(shard_path(shard)) do %>
        All versions of <%= shard.name %>
      <% end %>
    </h1>

    <ul class="list-unstyled">
      <% shard.versions.order(:number, :desc).each do |version| %>
        <li>
          <strong><%= version.number %></strong>
          <small class="text-muted">- <%= localize version.released_at %></small>
        </li>
      <% end %>
    </ul>
  </div>
</div>

