.filter-letter {
  display: flex;
  margin: 1em 0 2em;

  li {
    flex: 1 1 0%;
  }

  a {
    display: block;
    text-align: center;
    background: rgb(244, 244, 244) none repeat scroll 0% 0%;

  }

  a:hover, .active a {
    background: #0275D8;
    color: #fff;
    text-decoration: none;
  }
}
