@import "base/variables";

// bootstrap
@import "variables";
@import "mixins";

@import "normalize";
@import "print";

@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";

@import "nav";
@import "navbar";
@import "alert";
@import "labels";
@import "list-group";
@import "dropdown";

@import "utilities";
@import "utilities-responsive";

pre {
  display: block;
  padding: $spacer;
  border-radius: 4px;
  background: $pre-bg;
}

#top {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#contents {
  flex: 1;
}

#header {
  margin-bottom: 2 * $spacer;
  background: $navbar-color;

  .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-form {
    margin-top: 4px;
  }

  .crystal-icon {
    display: inline-block;
    width: 20px;
    margin-top: -2px;
  }

  .label {
    vertical-align: top;
    font-size: 0.6em;
  }
}

.shard-readme h1:first-child {
  display: none;
}

.has-error .text-muted {
  color: rgb(217, 83, 79);
}

#footer {
  margin-top: 4 * $spacer-y;
  padding: $spacer-y 0 0;
  font-size: $font-size-xs;
  font-weight: bold;
  text-transform: uppercase;
  background: #f4f4f4;

  a {
    color: #666;
    &:hover { color: #333; }
  }
}


@import "components/flash";
@import "components/icon";
@import "components/avatar";
@import "components/filter-letter";
@import "components/list_shards";
@import "components/guides";
@import "components/hljs";
